* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

label, input {
  cursor: pointer;
}

section.notification {
  max-width: 768px;
  margin: 0 auto;
  background: #002124;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 33, 36, 0.815564)), color-stop(66%, rgba(171, 70, 70, 0.812763)), to(rgba(0, 212, 255, 0.804359)));
  background: linear-gradient(90deg, rgba(0, 33, 36, 0.815564) 0%, rgba(171, 70, 70, 0.812763) 66%, rgba(0, 212, 255, 0.804359) 100%);
}

section.notification .container-fluid {
  -webkit-box-shadow: 14px 14px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 14px 25px 0px rgba(0, 0, 0, 0.75);
}

section.notification .container-fluid .row .col-3.leftside {
  padding-top: 5%;
}

section.notification .container-fluid .row .col-3.leftside a {
  color: #000;
}

section.notification .container-fluid .row .col-3.leftside .left-header {
  margin-bottom: 20%;
}

section.notification .container-fluid .row .col-3.leftside .left-header h6 {
  color: #fff;
}

section.notification .container-fluid .row .col-3.leftside .play-music {
  margin-bottom: 10%;
}

section.notification .container-fluid .row .col-3.leftside .play-music a:first-child {
  color: #9c9c9cd7;
}

section.notification .container-fluid .row .col-3.leftside .play-music a:last-child {
  color: #9c9c9cd7;
}

section.notification .container-fluid .row .col-3.leftside .music-volume {
  margin-bottom: 5%;
}

section.notification .container-fluid .row .col-3.leftside .music-volume input {
  margin: 0 10px;
}

section.notification .container-fluid .row .col-6.middleside .close-btn {
  margin-bottom: 5%;
}

section.notification .container-fluid .row .col-6.middleside .close-btn a {
  color: #000;
}

section.notification .container-fluid .row .col-6.middleside .close-btn a i {
  font-size: 32px;
}

section.notification .container-fluid .row .col-6.middleside .buttons {
  margin-bottom: 5%;
}

section.notification .container-fluid .row .col-6.middleside .buttons input[type="checkbox"] {
  display: none;
}

section.notification .container-fluid .row .col-6.middleside .buttons label {
  background-color: #9c9c9cd7;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section.notification .container-fluid .row .col-6.middleside .buttons label i {
  -webkit-transition: all .3s;
  transition: all .3s;
}

section.notification .container-fluid .row .col-6.middleside .buttons input[type="checkbox"]:checked + label {
  background-color: #fff;
}

section.notification .container-fluid .row .col-6.middleside .buttons input[type="checkbox"]:checked + label i {
  font-size: 24px;
}

section.notification .container-fluid .row .col-6.middleside .airdrop {
  text-align: center;
}

section.notification .container-fluid .row .col-6.middleside .airdrop a {
  color: #000;
  display: inline-block;
  padding: 5px 120px;
  background-color: #9c9c9cd7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.notification .container-fluid .row .col-6.middleside .airdrop a i {
  font-size: 30px;
  margin-right: 5px;
}

section.notification .container-fluid .row .col-3.rightside {
  padding-top: 10%;
}

section.notification .container-fluid .row .col-3.rightside .brightnes {
  margin-bottom: 15%;
}

section.notification .container-fluid .row .col-3.rightside .brightnes input {
  margin: 0 10px;
}

section.notification .container-fluid .row .col-3.rightside .brightnes a {
  color: #000;
}

section.notification .container-fluid .row .col-3.rightside .brightnes a:first-child {
  font-size: 12px;
}

section.notification .container-fluid .row .col-3.rightside .camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.notification .container-fluid .row .col-3.rightside .camera a {
  color: #000;
  display: inline-block;
  font-size: 30px;
  background-color: #9c9c9cd7;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */